* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper-page {
    background-size: cover;
    background-image: url('../images/aum3.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.central-container {
    background-color: #fefefe;
    border: 0.16rem solid #010101;
    max-width: 1002px;
    margin: 0 auto 4.1em;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.31);
}

header {
    background: linear-gradient(45deg, white, #ff9a34, #fe0101);
    flex-direction: row;
    color: #fefefe;
    display: flex;
}

.top-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.image-logo {
    justify-content: center;
    display: flex;
    width: 9.3em;
    border-right: 0.16em solid #010101;
    background-color: #fefefe;
    border-bottom: 0.16em solid #010101;
}

.image-brand {
    width: 101px;
    height: auto;
}

.title-area {
    gap: 24px;
    display: flex;
    padding: 18px 24px;
    height: 6.1em;
    align-items: center;
    font-size:1.21em;
}

.title-area h1 {
    font-size: 2.01em;
    margin-left: 1.61em;
    color: #312e2e;
}

nav {
    background-color: #010101;
    flex: 1;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 13.5px 32px;
    text-decoration: none;
    color: #fefefe;
    font-size: 15.1px;
    transition: background-color 0.31s ease;
}

nav ul li a:hover {
    background-color: #565656;
    color: black;
}

nav ul li a.selected {
    color: #ff6701;
}

.page-content {
    background-color: #dadada;
    display: flex;
}

.section-left {
    flex: 1;
}

.section-right {
    flex: 1;
}

.vertical-divider {
    background-color: #ff6701;
    margin-bottom: 6.1em;
    margin-top: 1.05em;
    width: 0.011em;
}

.info-section {
    color: #010101;
    padding: 0.61em 1.05em 1.05em 1.05em;
    border-bottom: 1px solid #5a5757;
    height: 7.1em;
    word-spacing: 3.1px;
}

.info-section h2 {
    color: #010101;
    font-size: 18.2px;
    margin-bottom: 0.41em;
    font-weight: bold;
}

.info-section p {
    line-height: 1.51;
    font-size: 14.1px;
    text-align: justify;
}

footer {
    color: #fefefe;
    border-top: 0.16em solid #010101;
    padding: 18px 0;
    margin-top: 0;
    background-color: #ff6701;
}

.footer-wrapper {
    margin: 0 auto;
    padding: 0 34px;
    justify-content: space-between;
    max-width: 1202px;
    display: flex;
}

.footer-section-left,
.footer-section-middle {
    flex: 1;
}

.footer-section-left p {
    margin: 2.1px 0;
    font-weight: 555;
    color: #010101;
    font-size: 13.1px;
}

.footer-section-middle {
    text-align: center;
    font-size: 14.1px;
}

.footer-section-middle p {
    font-weight: 555;
    color: #010101;
}

.footer-section-right {
    justify-content: flex-end;
    gap: 13.5px;
    display: flex;
    flex: 1;
}

.footer-section-right img {
    width: 35.5px;
    height: 35.5px;
    padding: 5.2px;
}